@model MvcAgenda.Domain.Entities.location

@{
    ViewBag.Title = "Create";
}
 <style>
     #min, #max {float:left;margin: 10px;}
#slider {
float: left;
width: 300px;
margin: 15px;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#slider').slider({
            range: "max",
            min: -12,
            max: 12,
            value: 0,
            slide: function (event, ui) {
                $("#timezone").text(ui.value);
            }
        });
    }
)
</script>
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>location</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.timezone)
        </div>
        <div class="editor-field"> 
         @Html.EditorFor(model => model.timezone)       
           @*Currently: <label id="timezone">0</label>
            <label id="min">-12</label><div id="slider"></div><label id="max">12</label>*@          
            @Html.ValidationMessageFor(model => model.timezone)
        </div><div style="clear:both;"  /> 


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
