@{
    ViewBag.Title = "";
}
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <section id="calendarSection">
@if (Request.IsAuthenticated)
{

    Html.RenderAction("Calendar", new { controller = "Events", id = User.Identity.Name });

    if (User.Identity.Name == "admin")
    {
       <ul>
       <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Admin Users", "Index", new { controller = "Users", area = "Admin" })</li>
        <li>@Html.ActionLink("Events", "Index", "Events")</li>
        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
        <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
    </ul>
    }
}
else
{
    <p>
        @Html.ActionLink("Login", "Login","Account") to see your agenda.
    </p>
     <p>
        @Html.ActionLink("Register", "Register","Account") if you don't have an account.
    </p> 
}
</section>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
<section id="menuSection">
@if (Request.IsAuthenticated)
{
    <h3>Use the following links:</h3>

    Html.RenderAction("UserMenu", new { controller = "Users", username = User.Identity.Name });

    if (User.Identity.Name == "admin")
    {
       <ul>
       <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Admin Users", "Index", new { controller = "Users", area = "Admin" })</li>
        <li>@Html.ActionLink("Events", "Index", "Events")</li>
        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
        <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
    </ul>
    }
}
else
{ 
        <p>More Info</p>
    <ul>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>

}
</section>
    </div>
</div>



